<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
	<title>{{ title }} </title>
</head>
<body>
	<div class="container">
		<div class="title">
			<h1>{{ title }}</h1>
		</div>
		<div class="contents">
			<div class="current_time" id='c_time'>
			</div>
			<div class="image">
				<img src='' align="middle" id='view' usemap="#image_location"/>
			</div>
		</div>
	</div>
	<script>
		window.onload = start_up();
		setInterval(start_up, 3000);
	</script>
</body>
